<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
        <ion-card>
          <ion-card-title>Gasolina ou Álcool?</ion-card-title>

          <ion-card-content>
            
             
            <ion-input type="number" labelPlacement="floating" label="Preço Gasolina" [(ngModel)]="valorGaso"></ion-input>
            <ion-input type="number" labelPlacement="floating" label="Preço Álcool" [(ngModel)]="valorAlco"></ion-input>

            <ion-input labelPlacement="floating" label="Distancia percorrida em KM" [(ngModel)]="distancia"></ion-input>

            <ion-button color="tertiary" (click)="calcularMelhor()">Calcular</ion-button>

           
          </ion-card-content>
            <ion-label position="floating">Melhor</ion-label>
            <ion-input [value]="situacao" readonly></ion-input>
        </ion-card>
  </div>
</ion-content>
